* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* 页面背景图 */

#app .bg li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: left/cover no-repeat;
    animation: changeSize 10s forwards;
    z-index: -1;
}


/* 背景图放大缩小效果 */

@keyframes changeSize {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

#app .bg li:first-child {
    background-image: url('../img/pic1.jpg');
}

#app .bg li:last-child {
    background-image: url('../img/pic2.jpg');
}

.container {
    width: 740px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.container .chessCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.container .gridCanvas {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 3px 4px 6px rgba(136, 128, 59, 0.37);
    background: #E9B669;
    z-index: 3;
}

canvas.noClick {
    pointer-events: none;
}

.container .btn {
    float: right;
    width: 100px;
    margin-bottom: 20px;
    /* margin-right: 60px; */
}

.btn .start {
    background: rgb(201, 147, 67);
    color: #fff;
}

.btn button {
    margin-top: 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px 4px rgba(109, 109, 108, 0.25);
    font-size: 15px;
    color: rgb(107, 107, 107);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    transition: all .8s;
}

.btn button:hover {
    transform: scale(1.2, 1.2);
    background: #4d4d4d;
    color: #fff;
}


/* 音频控制按钮 */

.audioBtn {
    position: absolute;
    right: 40px;
    top: 20px;
}

.audioBtn button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: .4;
    transition: opacity .5s;
}

.audioBtn button:hover {
    opacity: 1;
}

.audioBtn .play {
    background: url('../img/play.png') 100%/100% no-repeat;
}

.audioBtn .pause {
    background: url('../img/pause.png') 100%/100% no-repeat;
}